<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Otoin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Otoin.Properties.Settings>
            <setting name="isTested" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="targetAppLocs" serializeAs="String">
                <value />
            </setting>
            <setting name="startHour" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="startMinute" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="stopHour" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="stopMinute" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="startTime" serializeAs="String">
                <value>01/01/1971 02:10:00</value>
            </setting>
            <setting name="stopTime" serializeAs="String">
                <value>01/01/1971 07:50:00</value>
            </setting>
            <setting name="isFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="stopAction" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="updateCheck" serializeAs="String">
                <value>True</value>
            </setting>
        </Otoin.Properties.Settings>
    </userSettings>
</configuration>